@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh !important;
  height: -webkit-fill-available !important;
  height: 100% !important;
  background-color: #F0F5FC !important;
}

.ant-select-selector {
  background-color: white !important;
}

.ant-modal-content,
.ant-modal-header {
  border-radius: 20px !important;
}

.ant-modal-title {
  font-size: 1.25rem !important;
}

.my-select-container .ant-select .ant-select-selector {
  border-radius: 20px !important;
}
/* index.css */
.ant-table-wrapper {
  border-radius: 0.5rem;
  overflow: hidden;
}

.ant-table {
  border-radius: 0.5rem;
}



.ant-table-thead > tr > th  {
  background-color: #C7DEFF !important;
}
.ant-table-thead > tr > th:first-child  {
  border-top-left-radius: 0.5rem;
}
.ant-table-thead > tr > th:last-child  {
  border-top-right-radius: 0.5rem;
}

.ant-upload  {
  width: 60px !important;
  height: 60px !important;
}
.ant-upload.ant-upload-drag {
  width: auto !important;
  height: auto !important;
}

.ant-upload-text{
  width: max-content !important ;
}

.ant-upload.ant-upload-btn{
  margin-inline: auto !important;
}

.ant-upload-list-item-container{
  width: 60px !important;
  height: 60px !important;
}

.ant-upload-list{
 display: "none" !important;
}

.ant-table-content{
  overflow: auto;
}